<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/app.css">
    <title></title></head>
  <body>
    <h1>Edit car Page</h1>
    <form action="/cars/<%= car._id %>?_method=put" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= car.name %>"/>
      <label for="model">model</label>
      <input type="text" name="model" id="model" value="<%= car.model %>"/>
      <br>
      <label for="year">year</label>
      <input type="text" name="year" id="year" value="<%= car.year %>"/>
      <br>
      <label for="image">image</label>
      <input type="text" name="image" id="image"  value="<%= car.image %>"/>
      <br>
      <input type="submit" value="Edit car">
      <a href="/cars">Back</a>
    </form>
  </body>
</html>